# Allows for auto play capabilities.
inputimeout

# Allows for writing .mp3 files.
mutagen

# Allows for .mp3 files to be played.
pygame

# Allows for YouTube audio to be downloaded from playlists.
pytubefix

# Allows for YouTube to be searched for audio.
youtube-search

# Allows for YouTube audio to be downloaded from videos.
yt_dlp
